.containerProjetos {
    display: flex;
    padding: 30px;
}
.cardProjetos {
    transition: 0.5s;
    border-radius: 10px;
    padding: 20px;
    border: 2px solid #323946;
    box-shadow: 10px 5px 5px black;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25); */
}
.cardProjetos img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.cardProjetos:hover {
    transform: scale(1.05);
    transition: 0.5s;
} 