@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.containerInicio {
    background-color: #1F242D;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    min-height: 100vh;
}
.textInicio {
    max-width: 300px;
    width: 100%;
    border: 3px inset #00EEFF;
    padding: 40px;
    box-shadow: 10px 5px 5px black;

}
.textInicio p{
    color: #fff;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.textInicio p:nth-child(1){
   font-size: 20px;
}
.textInicio p:nth-child(2){
    font-size: 30px;
 }
.textInicio p:nth-child(3){
    color: #00EEFF;
    font-size: 20px;
}
.imgInicio {
    width: 400px;
    height: 400px;
    /* animation: go-back 1s infinite alternate; */
}
.divContatos {
    margin-top: 35px;
}
.divContatos a {
    width: 30px;
    height: 30px;
    background-color: #00EEFF;
    border-radius: 50%;
    padding: 10px;
    margin-right: 15px;

}
.divContatos a img {
    width: 15px;
    height: 15px;
}
.divBotao {
    margin-top: 50px;
}
.botaoCurriculo {
    padding: 8px;
    background: #00EEFF;
    border-radius: 50px;
    border: none;
    text-decoration: none;
    color: #1F242D;
    font-weight: bold;
    font-size: 16px;
}
.botaoCurriculo:hover {
    background-color: #1F242D;
    color: #fff;
    border: 2px solid #00EEFF;
}


@media (max-width: 680px)
{
    .divImg {
    display: none;
   }
}

@keyframes go-back {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}




