@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    height: 90px;
    background-color: #1F242D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}
.logo {
    font-size: 60px;
    margin-left: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 800;
}
.listHeader {
    margin-right: 30px;
}
.navList ul {
    display: flex;
}
.navList ul li {
    list-style: none;  
}
.navList ul li a {
    text-decoration: none;
    color: #fff;
    padding: 20px;
    cursor: pointer;
}
.navList a:hover {
    color: #00EEFF;
    border-bottom: 2px solid #00EEFF;
}


@media (max-width: 1000px)
{
    .listHeader {
    display: none;
   }
}
