@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  height: 90px;
  background-color: #1f242d;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Poppins", sans-serif;
}
.logo {
  font-size: 60px;
  margin-left: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 800;
}
.listHeader {
  margin-right: 30px;
}
.navList {
  display: flex;
}
.navList li {
  list-style: none;
}
.navList li a {
  text-decoration: none;
  color: #fff;
  /* padding: 20px; */
  margin: 0 20px;
  cursor: pointer;
}
.navList a:hover {
  color: #00eeff;
  border-bottom: 2px solid #00eeff;
  transition: .6s;
}
.menu-mobile div {
  width: 32px;
  height: 2px;
  background-color: #fff;
  margin: 8px;
}
.menu-mobile {
  display: none;
}

@media (max-width: 1000px) {
  .menu-mobile {
    display: block;
    align-items: center;
  }
  .container {
    justify-content: space-between;
  }
  .navList {
    position: absolute;
    top: 90px;
    right: 0;
    width: 100vw;
    display: block;
    flex-direction: column;
    background-color: #1f242d;
    align-items: center;
    justify-content: space-around;

    display: none;
    z-index: 1000;
  }
  .navList li {
    padding: 20px;
    text-align: center;
  }
  .active {
    display: block;
    flex-direction: column;
  }
  /* .active-button div:nth-child(1) {
    transform: rotate(-58deg);
    position: absolute;
  }

  .active-button div:nth-child(2) {
    transition: 0.2s ease-in;
    opacity: 0;
  }

  .active-button div:nth-child(3) {
    transform: rotate(58deg);
    position: absolute;
  } */
}
