@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
.containerProjetos {
    background-color: #1F242D;
    min-height: 540px; 
    /* display: flex;
    justify-content: center; */
}

.divTitle h2 {
    color: #fff;
    padding: 20px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    text-align: center;
}
.containerCarrosel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}