@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
.containerSobre {
    background-color: #323946;
    min-height: 510px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 60px;
    flex-wrap: wrap;

}
.divImage {
    padding: 20px;
}
.divImage img {
    width: 330px;
    height: 340px;
    display: flex;
    padding: 15px;
}
.divTextSobre {
    width: 450px;
    padding: 20px;
}
.divTextSobre h2 {
    color: #fff;
    font-size: 32px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}
.divTextSobre p {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    /* font-weight: 400; */
    font-size: 14px;
    letter-spacing: 1px;
}
.divTextSobre p:nth-child(2){
    color: #00EEFF;
    font-size: 20px;
    font-weight: bold;
}


@media (max-width: 870px)
{
    .divImage {
    display: none;
   }
}